.container {
    margin-top: 200px;
}

.game-title {
    text-align: right;
    font-size: 30px;
}

.developer {
    text-align: right;
    font-size: 12px;
}

.user-access-card {
    max-width: 370px;
    height: 270px;
    margin: auto;
}

.user-access-card form {
    margin-top: 10px;
}

.user-access-card .row {
    margin-right: 0;
    margin-bottom: 6px;
}

button {
    width: 100%;
}

