mat-card-header {
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}

.container {
    margin-top: 20px;
}

.game {
    margin: auto;
    width: 1100px;
    height: 615px;
}

.board {
    padding-top: 10px;
    padding-left: 10px;
    width: 1095px;
    height: 600px;
}

.spacer {
    flex: 1 1 auto;
}

.start-message {
    text-align: center;
    padding-top: 80px;
    font-size: 20px !important;
}

.start-message button {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.clock {
    cursor: default;
}

.cell {
    width: 45px;
    height: 35px;
    border: 2px;
    border-style: outset;
    background-color: lightgray;

}

.mat-icon {
    cursor: pointer;
}

.covered:hover {
    background-color: lightslategray;
}

.uncovered {
    border-style: inset;
}

